body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}


.nav-container {
    padding-left: 5%;
    padding-right: 5%;
}

.home-section {
    background-color: #DA4167;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-row {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 58px;
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #8b2a42;
}

.view-button {
    border-color: transparent;
    background-color: #e67793;
    color: black;
}

.view-button:hover {
    background-color: #f686a2;
}

.home-section-div {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section {
    height: 96vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    color: #f0bcd4;
}

#about-div {
    height: 70vh;
    width: 70vw;
    display: flex;
}

#about-div p {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}


.container-1 {
    width: 100vw;
}

.container-1 .container-2 {
    flex: 1;
}

.container-2 {
    padding: 30px 0 30px 30px;
}

#about-div h1 {
    font-weight: 700;
    font-size: 42px;
    font-style: bold;
    color: #fff;
}

#about-div p {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #7c7c7c;
}

#about-about {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.name {
    color: #DA4167;
} 

.buttons {
    border-radius: 0;
    height: 52px;
}

@media (min-width:992px) {
    .buttons {
        width: 196px;
    }
    .home-section {
        height: 75vh;
    }

    #about-div {
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}



@media (max-width:991px) {
    .home-section-div .buttons {
        width: 100%;
        height: 6vh;
        margin: 2% 0;
    }
    .about-section {
        height: auto;
    }
    p {
        font-size: 22px;
    }
    .buttons {
        margin: 2% 0;
        height: 6vh;
        width: 100%;
    }
    .home-section {
        height: 100vh;
    }

    
    #about-div {
        align-items: center;
        height: 160vh;
        width: 100vw;
        flex-direction: column;
    }

    #about-div img {
        width: 50vw;
        margin: 15vw 25vw;
    }

    .container-2 {
        padding: 0 5vw;
    }
}

/* @media (max-width:768px) {
    .about-section {
        height: auto;
    }
} */

