:root {
    --pars: #7c7c7c;
    --violet: #1f0322;
    --purple: #8a1c7c;
    --accent: #da4167;
    --pink: #f0bcd4;
    --green: #899d78;
}

.card {
    width: 15rem;
    margin: 10px;
}

.about-me {
    height: 108vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

#me-div p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

#me-div {
    height: 83vh;
    width: 75vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.par-text {
    color: #cc667f;
}

.myCard {
    width: 24vw;
    height: 70vh;
    background-color: #fff;
    border-radius: 10px;
}



.myCard-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 24px;

}

#me-div p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--pars);
}

#me-div h6 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #434d3b;
}

#me-div img {
    width: 65px;
}

#projects {
    height: 230vh;
    background-color: black;
}

.phead {
    font-size: 30px;
    color: var(--accent);
    margin-bottom: 0;
}

.pname,
.desc {
    font-size: 16px;
    color: var(--pars);
}


#projects a {
    border-bottom: 4px solid var(--pars);
    padding: 3px 0;
    color: var(--pars);
}

#projects a:hover {
    color: var(--accent);
    border-color: var(--accent);
}

.hr-tag {
    border: 3px solid #da4167;
    border-radius: 10px;
    margin: 50px auto;
    width: auto;
}

.row {
    border-color: var(--green);
    border-radius: 20px;
    margin-bottom: 20px;
}

.pimg {
    width: 50%;
    border-radius: 50%;
}

#projects {
    height: auto;
}


@media (min-width:768px) {
    .cards-group {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .myCard {
        margin-right: 21px;
    }
}

@media (max-width:991px) {
    .myCard {
        height: auto;
        flex-direction: column;
    }

    #me-div {
        height: auto;
    }

    .about-me {
        height: auto;
    }
}

@media (max-width:768px) {
    #me-div {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
        height: auto;
    }

    #projects {
        height: auto;
    }

    #about {
        margin-top: 40px;
    }

    #projects img {
        margin-bottom: 50px;
    }
    .pcards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .about-me {
        height: auto;
    }

    .myCard-element {
        padding: 0 50px;
    }

    .myCard {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2vh;
        height: 60vh;
        align-items: center;
        justify-content: center;
    }

    #me-div p {
        margin-top: 2vh;
    }
    .pcards {
        padding: 0 15px;
    }

    .pname,
    .desc {
        font-size: 16px;
    }

    .phead {
        font-size: 28px;
    }
}